:root {
	--slide-toggle-effect: rgba(255,255,255,0.2);
	--btn-active-bg-color: #cea5ff50;
  --btn-active-text-color: #cea5ff;
  --btn-active-tools-bg-color: rgb(70,70,70);
  --primary-color: #222222;
  --accent-color: #cea5ff;
  --text: #cccccc;
  --box-shadow: rgb(0,0,0,0.7);
  --body-color: #121212;
  --secondary-color: #2a2a2a;
  --third-color: #2f2f2f;
  
  --primary-border-color: #4f4f4f;
  --secondary-border-color: #4f4f4f;
  --third-border-color: #474747;
  --hr: gray;
  --contrast-text: #ffffff;
}
.theme-dark {
	--slide-toggle-effect: #719ee934;
  --primary-color: #181818;
  --secondary-color: #222222;
  --accent-color: #719ee9;
  --accent-lighter-color: #719ee950;
  --active-button-color: rgba(255,255,255,0.1);
  --text-color: #cccccc;
  --hr-color: gray;
  --body-color: #121212;
  --box-shadow-color: transparent;
  --border-color: #3f3f3f;
}
.theme-light {
	--slide-toggle-effect: #2f73e334;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --accent-color: #2f73e3;
  --accent-lighter-color: #2f73e350;
  --active-button-color: rgba(220,220,220,0.8);
  --text-color: #242424;
  --hr-color: #cfcfcf;
  --body-color: #dfdfdf;
  --box-shadow-color: rgba(0,0,0,0.2);
  --border-color: transparent;
}
body {
  margin: 0;
  user-select: none;
  background-color: var(--body-color);
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}
#nav {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  background-color: var(--primary-color);
  z-index: 5;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -5px 8px -5px var(--box-shadow-color); 
  transition: transform 0.4s;
}
.nav-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  z-index: 10;
}
.hide-nav {
	transform: translateY(100px);
}
.tools-section, .download-section, .styles-section {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  transition: transform 0.3s;
  transform: translateY(200px);
  z-index: 4;
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -5px 8px -5px var(--box-shadow-color); 
}
.show-section {
  transform: translateY(-50px);
}
.active-btn {
  font-weight: 600;
  background-color: var(--active-button-color);
}
#top-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 15;
  box-shadow: 0 5px 5px -5px var(--box-shadow-color);
}
.top-nav-btn {
  width: 33%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  text-align: center;
}

#settings-btn {
  right: 0;
}
#open-btn {
  left: 0;
}
input[type="file"] {
  display: none;
}
#download {
  width: 120px;
  height: 40px;
  background-color: transparent;
  margin: 6px;
  border-radius: 3px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
#download:focus {
	border: 1px solid var(--accent-color);
}
.download-section {
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.settings-section {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  transition: transform 0.6s;
  transform: translateY(-800px);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 14;
  overflow: scroll;
  box-shadow: 0 5px 5px -5px var(--box-shadow-color);
}
.show-settings {
  transform: translateY(50px);
}
.active-top-nav {
  background-color: var(--active-button-color);
  font-weight: 600;
}
#canvas {
  width: 0;
  height: 0;
  position: absolute;
  transition: transform 0.15s;
  box-shadow: 3px 8px 12px var(--box-shadow-color), 0 9px 13px var(--box-shadow-color);
}
canvas {
	image-rendering: pixelated;
}
.tools {
  color: var(--text-color);
  height: 100%;
  width: calc(100% / 8);
  background-color: transparent;
  border: 0;
  z-index: 1;
  font-size: 10px;
}
.tools-section {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  box-shadow: 0 -5px 8px -5px var(--box-shadow-color);
}
#canvas-div {
	width: 100%;
  height: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: 0.3s;
	overflow: hidden;
}
#canvas-div2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
}
.active-tool-btn {
	background-color: var(--active-button-color);
}
.show-confirm-crop {
  transform: translateY(51px);
}
#confirm-crop {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  z-index: 1;
  transition: transform 0.2s;
  display: flex;
}
#confirm-crop button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--text-color);
  letter-spacing: 1px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-tool-settings {
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  position: fixed;
  bottom: -1px;
  transition: transform 0.2s;
  z-index: 1;
  box-shadow: 0;
  transform: translateY(51px);
}
.open-selected-tool-settings {
  transform: translateY(-100px);
  box-shadow: 0 -5px 8px -5px var(--box-shadow-color); 
}
.settings-section hr {
	width: 100%;
	height: 0px;
	border: 0;
	outline: 0.5px solid var(--hr-color);
}
.settings-label {
	color: var(--accent-color);
	background-color: transparent;
  width: calc(100% - 20px);
  height: 20px;
  margin: 10px 10px 0 10px;
  font-weight: 1000;
}
.settings-containers {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	transition: background-color 0.2s;
}
.settings-containers .slide-toggle {
	position: absolute;
	right: 10px;
	z-index: 2;
}
.settings-containers p {
	margin-left: 15%;
	font-size: 16px;
	color: var(--text-color);
	font-weight: 300;
}
#theme-btn-toggle {
	width: 100px;
}
#add-text-textarea {
	width: 100%;
	height: 46px;
	background-color: transparent;
	resize: none;
	color: var(--text-color);
	outline: none;
	border: 0;
}
#add-text-textarea:focus {
	outline: 1px solid var(--accent-color);
}
#add-text-section {
	display: flex;
	justify-content: center;
}
.settings-containers:hover {
	background-color: var(--active-button-color);
}
#quality-input {
	position: absolute;
	right: 20px;
	width: 40px;
	height: 30px;
	text-align: center;
	background-color: transparent;
	border: 1px solid var(--text-color);
	color: var(--text-color);
	outline: none;
	transition: border 0.3s;
}
#tune-section {
	display: flex;
	height: 80px;
	flex-wrap: wrap;
}
#tune-buttons {
	border: 0;
	width: 100%;
	margin: 0;
	border-radius: 0;
	display: flex;
}
.tune-buttons {
	width: 25%;
	height: 50%;
	border: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	letter-spacing: 1px;
}
.tune-slider-container {
	width: 100%;
	height: 30px;
	background-color: var(--body-color);
	position: fixed;
	transform: translateY(-200px);
	display: flex;
	justify-content: center;
	transition: transform 0.3s;
}
.tune-slider {
	width: 100%;
	height: 10px;
	background-color: var(--hr-color);
	display: flex;
}
.tune-slider-active {
	width: 0;
	height: 100%;
	background-color: var(--accent-color);
}
.tune-slider-text {
	width: 70px;
	bottom: -15px;
	color: var(--text-color);
	position: absolute;
	text-align: center;
}
.show-tune-slider {
	transform: translateY(51px);
}
.temp-el {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	z-index: 0;
}
.temp-canvas {
	position: fixed;
}
#experimental-design-button {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
	color: var(--text-color);
	display: flex;
	align-items: center;
}
.settings-containers .slide-toggle {
	justify-content: flex-end;
}
