:root {
 --text-color: black;
 --bg-color: white;
 --settings-bg: #eeeeee;
 --border-color: gray;
 --input-color: white;
 --input-text: black;
 --input-border: gray;
}


.tab {
  width: 50%;
  margin: 0px;
  display: inline-block;
  background-color: rgba(242, 204, 143,0.3);
  text-align: center;
  height: 40px;
  border: 0px;
  outline: none;
  position: fixed;
  top: 0px;
  transition: 0.3s;
}

#auto-content {
display: none;
}
#custom-content {
 display: none;
}


body {
  margin: 30px;
  color: var(--text-color);
  background-color: var(--bg-color);
 margin-top: 60px;
}

#canvas1, #canvas2 {
 image-rendering: crisp-edges;
 image-rendering: -webkit-optimize-contrast;
 image-rendering: pixelated;
 width: 300px;
 height: 300px;
 border: 1px solid var(--border-color);
}
#settings {
 background-color: var(--settings-bg);
 padding: 10px;
 padding-bottom: 1px;
 border: 1px solid var(--border-color);
}
#gen {
 width: 70px;
}
#add-colors-input, #cube-size, #cube-quantity, #file-name {
 width: 80px;
}
#add-colors-btn {
 width: 80px;
}
.highlight {
 background-color: #fffdd0;
 letter-spacing: 2px;
 font-weight: 400;
 border-radius: 2px;
 color: black;
}
.highlight2 {
 background-color: rgba(116, 198, 157,0.4);
 letter-spacing: 2px;
 font-weight: 400;
 border-radius: 2px;
 color: black;
}
hr {
 border: 0.5px solid lightgray;
 background-color: gray;
 border-radius: 3px;
}
#image-size1, #image-size2 {
 width: 30px;
 text-align: center;
}
.advanced-settings-hidden {
 display: none;
 background-color: var(--settings-bg);
 padding: 10px;
 border: 1px solid var(--border-color);
}

.show {
 display: block;
}
button {
 background-color: lightgray;
 border: 1px solid var(--border-color);
 font-weight: 300;
 outline: none;
 transition: 0.3s;
}
#remove-colors {
border: 0px;
font-weight: 300;
background-color: transparent;
transition: 0.3s;
}
#remove-colors:hover {
background-color: lightgray;
}
button:hover {
  background-color: white;
}
input {
  outline: none;
}
p {
  font-size: 18px;
}
.warning {
  display: inline-block;
  background-color: salmon;
  font-weight: 1000;
  height: 20px;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  border: 2px rgba(255,0,0,1);
}
input {
 background-color: var(--input-color);
 text-align: center;
 color: var(--input-text);
 border: 1px solid var(--input-border);
}
#canvas2-settings {
border: 1px solid var(--border-color);
background-color: var(--settings-bg);
padding: 10px;
}
#canvas2-settings input {
width: 80px;
}
#draw-mode, #erase-mode, #clear-canvas, #fill-mode {
border-bottom: 0px;
}
.selected {
  background-color: rgba(116, 198, 157,0.5);
  border: 1px solid rgb(116, 198, 157);
}
.selected:hover {
  background-color: rgba(116, 198, 157,0.5);
}
#random-color {
  
}
