body {
 margin: 0px;
 background-color: #1f1f1f;
}

.dropdown-items2 {
  width: 50px;
  z-index: 1000;
  height: 100px;
  margin-left: 10px;
  margin-top: -35px;
  position: absolute;
  background-color: #1f1f1f;
  opacity: 1;
  z-index: 1000;
  color: white;
  border-radius: 5px;
  overflow: scroll;
  transform: scale(0,0);
  box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
  transition: transform 0.2s;
}
.dropdown-items2 button {
  height: 30px;
  width: 50px;
  display: block;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 0px;
  outline: none;
  transition: background-color 0.3s;
}
.dropdown-items2 button:hover {
  background-color: rgba(255,255,255,0.1);
}
.dropdown-items {
  width: 50px;
  z-index: 1000;
  height: auto;
  margin-left: 85px;
  margin-top: -30px;
  position: absolute;
  background-color: #1f1f1f;
  opacity: 1;
  z-index: 1000;
  color: white;
  border-radius: 5px;
  transform: scale(0,0);
  box-shadow: 1px 1px 10px rgba(20,20,20,0.5);
  transition: transform 0.2s;
}
.dropdown-items button {
  height: 30px;
  width: 50px;
  display: block;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 0px;
  outline: none;
  transition: background-color 0.3s;
}
.dropdown-items button:hover {
  background-color: rgba(255,255,255,0.1);
}
#preview {
height: 200px;
width: 200px;
border: 1px solid rgba(255,255,255,0.2);
border-radius: 3px;
position: absolute;
margin: 10px;
overflow: scroll;
color: white;
padding: 5px;
}
#tools {
background-color: rgba(255,255,255,0.1);
width: 150px;
height: 550px;
float: right;
padding: 10px;
}
#text-tab-button {
width: 150px;
height: 0px;
margin: 5px;
position: relative;
background-color: rgba(0,0,0,0.1);
border: 0px;
border-radius: 3px;
}
.description {
color: gray;
margin: 10px;
margin-bottom: 0px;
}
.textarea {
width: 140px;
height: 40px;
color: white;
background-color: transparent;
border: 1px solid gray;
border-radius: 3px;
outline: none;
}
.add {
border: 1px solid gray;
border-radius: 3px;
color: white;
background-color: #1f1f1f;
width: 30px;
margin: 5px;
height: 30px;
text-align: center;
display: inline-block;
outline: none;
font-size: 25px;
}
#textarea-button {
background-color: rgba(0,0,0,0.1);
width: 140px;
height: 210px;
padding: 5px;
margin: 2px;
border-radius: 3px;
}
.text-checkbox {
margin: 5px;
position: absolute;
margin-left: 40px;
}
#second-text-checkbox {
top: 113px;
}
#first-text-checkbox {
top: 93px;
}
#text-size {
position: absolute;
top: 160px;
margin-left: 10px;
display: inline-block;
}
.small-input {
width: 50px;
height: 20px;
margin: 5px;
background-color: rgba(0,0,0,0.4);
border: 0px;
outline: none;
color: white;
border-radius: 3px;
text-align: center;
}
#text-color {
margin-top: 15px;
margin-left: 10px;
}
.small-input-description {
color: gray; font-size: 12px; margin: 5px; 
}
#text-align {
margin-top: 0px;
display: inline-block;
position: absolute;
margin-left: 84px;
top: 165px;
}
